@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: ClashDisplay-Medium;
  src: 
  url("/fonts/ClashDisplay-Medium.otf") format("truetype");
}


body{
  background-color: #101010;
  color: #FEFEFE;
  font-family: "ClashDisplay-Medium", sans-serif;
}

p{
  font-size:20px;
}

h1{
  font-size:110px;
  position: relative;
}

h2{
  font-size: 26px;
}

h1.Ourwork::after{
  content: "1";
  font-size:26px;
  position: absolute;
  top:0;
  margin-top: 50px;
  margin-left: 20px;
}

h1.Ourservice::after{
  content: "2";
  font-size:26px;
  position: absolute;
  top:0;
  margin-top: 50px;
  margin-left: 20px;
}

h1.Contact::after{
  content: "3";
  font-size:26px;
  position: absolute;
  top:0;
  margin-top: 50px;
  margin-left: 20px;
}


.swipper-bullet-custom-pagination{
  background-color: #858484;
  width: 20px;
  height: 3px;
  display: flex;
  transition: all ease-in-out 0.25s;
}
.swipper-bullet-custom-pagination-active{
  background-color: #FEFEFE;
  width: 50px;
  height: 3px;
  display: flex;
  transition: all ease-in-out 0.25s;
}
.swipper-bullet-custom-pagination:hover{
  background-color: #FEFEFE;
  transition: all ease-in-out 0.25s;

}
