@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: ClashDisplay-Medium;
  src: 
  url("/fonts/ClashDisplay-Medium.otf") format("truetype");
}


body{
  background-color: #101010;
  color: #FEFEFE;
  font-family: "ClashDisplay-Medium", sans-serif;
  overflow-x: hidden!important;
}

p{
  font-size:14px;
}

h1{
  font-size:36px;
  position: relative;
}

h2{
  font-size: 26px;
}

h1.Ourwork::after{
  content: "1";
  font-size:26px;
  position: absolute;
  top:0;
  margin-left: 20px;
}

h1.Ourservice::after{
  content: "2";
  font-size:26px;
  position: absolute;
  top:0;
  margin-left: 20px;
}

h1.Ournetwork::after{
  content: "3";
  font-size:26px;
  position: absolute;
  top:0;
  margin-left: 20px;
}

h1.Contact::after{
  content: "4";
  font-size:26px;
  position: absolute;
  top:0;
  margin-left: 20px;
}

.swipper-bullet-custom-pagination{
  background-color: #858484;
  width: 20px;
  height: 3px;
  display: flex;
  transition: all ease-in-out 0.25s;
}

.swipper-bullet-custom-pagination-active{
  background-color: #FEFEFE;
  width: 50px;
  height: 3px;
  display: flex;
  transition: all ease-in-out 0.25s;
}

.swipper-bullet-custom-pagination:hover{
  background-color: #FEFEFE;
  transition: all ease-in-out 0.25s;
}

.slick-track{
  display: flex!important;
  align-items: flex-end!important;

}

.slick-dots li button::before{
  content: ""!important;
}

.slick-dots li{
  background-color: #FEFEFE!important;
  width: 20px;
  height: 3px!important;
  padding: 0!important;
  border-radius: 0!important;
  margin-top: 20px;
  opacity: 0.5;
  display: block!important;
}

.slick-slide{
  margin: 0 10px;
}

.slick-dots{
  display: flex!important;
  justify-content: center!important;

}

 .slick-dots .slick-active{
  opacity: 1!important;
  width: 50px!important;
}



/* RESPONSIVENESS */

@media (min-width: 768px) {
  h1{
    font-size:80px;
    position: relative;
  }

  p{
    font-size:20px;
  }

}

@media (min-width: 1024px) {
  h1{
    font-size:110px;
    position: relative;
  }

  p{
    font-size:20px;
  }

  h1.Ourwork::after{
    content: "1";
    font-size:26px;
    position: absolute;
    top:0;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  h1.Ourservice::after{
    content: "2";
    font-size:26px;
    position: absolute;
    top:0;
    margin-top: 50px;
    margin-left: 20px;
  }

  h1.Ournetwork::after{
    content: "3";
    font-size:26px;
    position: absolute;
    top:0;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  h1.Contact::after{
    content: "4";
    font-size:26px;
    position: absolute;
    top:0;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  
}